.help-tip{
    position: relative;
    top: 45px;
    left: 340px;
    text-align: center;
    background-color: #d3264c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 50;
  }

  .help-tip1{
    position: relative;
    top: 25px;
    left: 310px;
    text-align: center;
    background-color: #d3264c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 50;
  }

  .help-tip2{
    position: relative;
    top: 23px;
    left: 340px;
    text-align: center;
    background-color: #d3264c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 50;
  }
  
  .help-tip:before, .help-tip1:before, .help-tip2:before{
    content:'?';
    font-weight: bold;
    color:#fff;
  }
  
  .help-tip:hover p, .help-tip1:hover p, .help-tip2:hover p{
    display:block;
    transform-origin: 100% 0%;
  
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  
  }
  
  .help-tip p,.help-tip1 p,.help-tip2 p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 15px;
    line-height: 1.4;
  }
  
  .help-tip p:before, .help-tip1 p:before, .help-tip2 p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
  }
  
  .help-tip p:after, .help-tip1 p:before, .help-tip2 p:before{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: relative;
    top:-40px;
    left:0;
  }